<div id="index-banner" class="parallax-container" style="height:250px;min-height:250px;background: rgba(0,0,0,0.4);">
    <div class="section no-pad-bot">
        <div class="container">
            <h1 class="header center white-text text-lighten-2">Bars</h1>
        </div>
    </div>
    <div class="parallax"><%= image_tag('group-bar.jpg') %></div>
</div>
