<div class="project_beerio row">
  <div class="col s4"><%= image_tag('beer_img_1.png') %><h3>add cool <span class="beerio-yellow">bars</span> to your <span class="beerio-blue">beer route</span></h3></div>
  <div class="col s4"><%= image_tag('beer_img_5.png') %><h3>find <span class="beerio-blue">popular</span> routes to try</h3></div>
  <div class="col s4"><%= image_tag('beer_img_8.png') %><h3>share your <span class="beerio-yellow">adventure</span> online</h3></div>
</div>
