<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Route-Beer</h1>
            <div class="row center">
                <h5 class="header col s12 light">Find or plan your route for a night of responsible drinking</h5>
            </div>
            <div class="row center">
                <a href="/signup" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Sign Up Today!</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><%= image_tag('group-bar.jpg') %></div>
</div>
