<!DOCTYPE html>
<html>
<!-- begin Age Gateway -->
<script type="text/javascript" data-template="opaque" id="AgeVerifyScript" data-age="21" data-method="MDY" src="https://av.ageverify.co/jsv3/dob.js"></script>
<!-- end Age Gateway -->
  <head>
    <title>Route-Beer</title>
    <%= csrf_meta_tags %>

  <!-- Materialize Template -->
    <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--  Scripts-->
      <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/init.js"></script> -->

      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
